--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cpu

streamlit==1.49.1
feedparser==6.0.11
requests==2.32.3
yfinance==0.2.43
yahooquery==2.3.7
beautifulsoup4==4.12.3
html5lib==1.1
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
plotly==5.22.0
transformers==4.40.1
tokenizers==0.15.2
torch==2.2.2
lxml